/* .after{
    position: absolute;
    top:100%;
    left:50%;
    width:2px;
    height: 40px;
    background-color: red;

} */
.stages-cont{
    position: absolute;
    top: 7%;
}
.first,.second,.third{
    margin-top:120px
}
.coloumn{
    height: 300px;
    width:5px;
    background-color: #49535A
}