<p class="title">DashBoard</p>

<div class="container">
        <ngx-spinner></ngx-spinner>

  <div class="overlay" *ngIf="dashboardData">
       <div class="row  py-3">
           <div class="dash-title col-12 d-flex justify-content-between">
               <span>Total Of Groups & Flights</span>
               <span><img class="mb-1 mr-1" src="./assets/images/callender.svg">{{todayDate}}</span>

           </div>

       </div>
       <div class="d-flex days-cont">
        <div class="form-group date-cont">
            <input (change)="getNewDate(currentDate)" [(ngModel)]='currentDate'  class="form-control" type="date">
        </div>
            <!-- <div class="current-day day">Today</div>
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">wen</div>
            <div class="day">thur</div>
            <div class="day">fri</div> -->

        </div>
        <div class="col-12  my-3 d-flex text-white justify-content-center">
                <div class="chart-cont col-6 d-flex justify-content-around mr-2">
                    
                        <div class="d-flex flex-column text-center chart-inner">
                            <div class="header">
                                <img class="pr-2" src="./assets/images/group.svg">
                                Groups
                            </div>
                            <div class="d-flex justify-content-center flex-column">
                                    <h5 class="number">{{dashboardData.GroupsCount}}
                                            <span class="mt-1" style="display: block;">Group</span>

                                    </h5>

                                    <div class="py-1 justify-content-center" style="width:100%;display: flex">
                                      <canvas class="donut" baseChart  width="50" height="50"
                                      [datasets]="doughnutChartGroupsData"
                                      [options]="doughnutChartOptions"
                                      [legend]="doughnutChartLegend"
                                      [chartType]="doughnutChartType"
                                      [colors]="doughnutChartGroupsColors">
                                      </canvas>
                                    </div>
                                    <div class="seperator"></div>
                                    <span class="p-2">
                                        <img src="./assets/images/time.svg">
                                        Latest Update
                                            1 Hour ago</span>
                                  </div>
                        </div>
         
                    </div>
         
                <div class="chart-cont col-6 d-flex justify-content-around">
                    
                    <div class="d-flex flex-column text-center chart-inner">
                        <div class="header">
                            <img class="pr-2" src="./assets/images/flight.svg">
                            Flights
                        </div>
                        <div class="d-flex justify-content-center flex-column">
                                <h5 class="number">{{dashboardData.FlightsCount}}
                                        <span class="mt-1" style="display: block;">Flight</span>

                                </h5>

                                <div class="py-1 justify-content-center" style="width: 100%;display: flex;
                               ">
                                  <canvas class="donut" baseChart width="50" height="50"
                                          [datasets]="doughnutChartFlightsData"
                                          [options]="doughnutChartOptions"
                                          [legend]="doughnutChartLegend"
                                          [chartType]="doughnutChartType"
                                          [colors]="doughnutChartFlightsColors">

                                  </canvas>
                                </div>
                                <div class="seperator"></div>
                                <span class="p-2">
                                        <img src="./assets/images/time.svg">

                                    Latest Update
                                        1 Hour ago</span>
                              </div> 
                    </div>
         
                    </div>
         
         </div>

         <div class="col-11 m-auto d-flex total-cont py-3 align-items-center">
                 
                <div class="col-4">
                    <div class="total-img-cont">
                        <img src="./assets/images/bags.svg">
                    </div>
                </div>
                <div class="col-8">
                    <div class="total-count">
                        <div>TOTAL OF BAGS</div>
                        <h5 class="mt-3">{{dashboardData.BagsCount}}</h5>
                    </div>
                </div>
                <i class="arrow fa fa-caret-up"></i>

         </div>
      
         <div class="brdr-bottom"></div>

         <div class="py-4" id="chart" style="width: 100%;text-align:center" >
                <canvas baseChart width='200' height="200"
                [datasets]="polarChartDatasets"
                [chartType]="polarChartType"
                [colors]="polarChartColors"
                [options]="polarChartOptions"
                (chartHover)="polarChartHovered($event)"
                (chartClick)="polarChartClicked($event)"
                [labels]="polarChartLabels"
                >
              </canvas>
        </div>

        <div class="row m-auto d-flex py-3 align-items-center">
                 
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont px-2 d-flex  justify-content-between ">
                        <div>
                        <span><div class="new-color color "></div>
                            New</span>
                        <div class="st-count">{{dashboardData.NewBagsCount}}</div>
                       </div>
                        <img src="./assets/images/new.svg">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont px-2 d-flex  justify-content-between">
                            <div>
                                    <span><div class="shipped-color color"></div> Shipped</span>
                                    <div class="st-count">{{dashboardData.ShippedBagsCount}}</div>
                                   </div>
                        <img src="./assets/images/suitcase.svg">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont px-2 d-flex  justify-content-between">
                            <div>
                                    <span><div class="invan-color color"></div> In Van</span>
                                    <div class="st-count">{{dashboardData.InVanBagsCount}}</div>
                                   </div>
                        <img src="./assets/images/in-van.svg">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont px-2 d-flex  justify-content-between">
                            <div>
                                    <span><div class="received-color color"></div> Received</span>
                                    <div class="st-count">{{dashboardData.ReceivedBagsCount}}</div>
                                   </div>
                        <img src="./assets/images/recieved.svg">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont px-2 d-flex  justify-content-between">
                            <div>
                                    <span>
                                            <div class="delivered-color color"></div>
                                        Delivered</span>
                                    <div class="st-count">{{dashboardData.DeliveredBagsCount}}</div>
                                   </div>
                        <img src="./assets/images/delivered.svg">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont px-2 d-flex  justify-content-between">
                            <div>
                                    <span><div class="outofdel-color color"></div>Out Of Delivered</span>
                                    <div class="st-count">{{dashboardData.OutForDeliveryBagsCount}}</div>
                                   </div>
                        <img src="./assets/images/out-of-del.svg">
                    </div>
                </div>
                

         </div>
       <div>Scanned & Not Scanned BAGS</div>
        <div class="pt-2 pb-5" id="chart" style="width: 100%;text-align:center" >
                <canvas baseChart width="80" height="100"
                [datasets]="barChartDatasets"
                [chartType]="barChartType"
                [colors]="barChartColors"
                [options]="barChartOptions"
                (chartHover)="barChartHovered($event)"
                (chartClick)="barChartClicked($event)"
                [labels]="barChartLabels"
                >
              </canvas>
        </div>
 </div>
</div>
     