<p class="title">DashBoard</p>

<div class="container">
        <ngx-spinner></ngx-spinner>

  <div class="overlay" *ngIf="dashboardData">
       <div class="row  py-3">
           <div class="col-12 d-flex justify-content-around">
               <span>Total Of Groups & Flights</span>
               <span>{{todayDate}}</span>

           </div>

       </div>
       <div class="d-flex days-cont">
        <div class="form-group date-cont">
            <input (change)="getNewDate(todayDate)" [(ngModel)]='todayDate'  class="form-control" type="date">
        </div>
            <!-- <div class="current-day day">Today</div>
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">wen</div>
            <div class="day">thur</div>
            <div class="day">fri</div> -->

        </div>
        <div class="col-12  my-3 d-flex text-white justify-content-center">
                <div class="chart-cont col-6 d-flex justify-content-around mr-2">
                    
                        <div class="d-flex flex-column text-center chart-inner">
                            <div class="header">
                                <img src="./assets/images/group-of-men@2x.png">
                                Groups
                            </div>
                            <div class="d-flex justify-content-center flex-column">
                                    <h2 class="number">{{dashboardData.GroupsCount}}</h2>

                                    <div class="py-1" style="width:100%">
                                      <canvas baseChart  width="30" height="30"
                                      [datasets]="doughnutChartGroupsData"
                                      [options]="doughnutChartOptions"
                                      [legend]="doughnutChartLegend"
                                      [chartType]="doughnutChartType"
                                      [colors]="doughnutChartGroupsColors">
                                      </canvas>
                                    </div>
                                    <div class="seperator"></div>
                                    <span class="py-2">Latest Upadate
                                            1 Hour ago</span>
                                  </div>
                        </div>
         
                    </div>
         
                <div class="chart-cont col-6 d-flex justify-content-around">
                    
                    <div class="d-flex flex-column text-center chart-inner">
                        <div class="header">
                            <img src="./assets/images/group-of-men@2x.png">
                            Flights
                        </div>
                        <div class="d-flex justify-content-center flex-column">
                                <h2 class="number">{{dashboardData.FlightsCount}}</h2>

                                <div class="py-1" style="width: 100%;display: flex;
                                margin:auto">
                                  <canvas baseChart width="50" height="50"
                                          [datasets]="doughnutChartFlightsData"
                                          [options]="doughnutChartOptions"
                                          [legend]="doughnutChartLegend"
                                          [chartType]="doughnutChartType"
                                          [colors]="doughnutChartFlightsColors">

                                  </canvas>
                                </div>
                                <div class="seperator"></div>
                                <span class="py-2">Latest Upadate
                                        1 Hour ago</span>
                              </div> 
                    </div>
         
                    </div>
         
         </div>

         <div class="col-11 m-auto d-flex total-cont py-3 align-items-center">
                 
                <div class="col-5">
                    <div class="total-img-cont">
                        <img src="./assets/images/bag@3x.png">
                    </div>
                </div>
                <div class="col-7">
                    <div class="total-count">
                        <h6>TOTAL OF BAGS</h6>
                        <span>{{dashboardData.BagsCount}}</span>
                    </div>
                </div>

         </div>
         <div class="brdr-bottom"></div>

         <div class="py-4" id="chart" style="width: 100%;text-align:center" >
                <canvas baseChart width='200' height="200"
                [datasets]="polarChartDatasets"
                [chartType]="polarChartType"
                [colors]="polarChartColors"
                [options]="polarChartOptions"
                (chartHover)="polarChartHovered($event)"
                (chartClick)="polarChartClicked($event)"
                [labels]="polarChartLabels"
                >
              </canvas>
        </div>

        <div class="row m-auto d-flex py-3 align-items-center">
                 
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont p-2 d-flex  justify-content-between ">
                        <div>
                        <span><div class="new-color color "></div>
                            New</span>
                        <h4>{{dashboardData.NewBagsCount}}</h4>
                       </div>
                        <img src="./assets/images/delivery.png">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont p-2 d-flex  justify-content-between">
                            <div>
                                    <span><div class="shipped-color color"></div> Shipped</span>
                                    <h4>{{dashboardData.ShippedBagsCount}}</h4>
                                   </div>
                        <img src="./assets/images/suitcase.png">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont p-2 d-flex  justify-content-between">
                            <div>
                                    <span><div class="invan-color color"></div> In Van</span>
                                    <h4>{{dashboardData.InVanBagsCount}}</h4>
                                   </div>
                        <img src="./assets/images/delivery-truck.png">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont p-2 d-flex  justify-content-between">
                            <div>
                                    <span><div class="received-color color"></div> Received</span>
                                    <h4>{{dashboardData.ReceivedBagsCount}}</h4>
                                   </div>
                        <img src="./assets/images/shop.png">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont p-2 d-flex  justify-content-between">
                            <div>
                                    <span>
                                            <div class="delivered-color color"></div>
                                        Delivered</span>
                                    <h4>{{dashboardData.DeliveredBagsCount}}</h4>
                                   </div>
                        <img src="./assets/images/shopper.png">
                    </div>
                </div>
                <div class="col-6 mb-3 px-1">
                    <div class="detail-cont p-2 d-flex  justify-content-between">
                            <div>
                                    <span><div class="outofdel-color color"></div>Out Of Delivered</span>
                                    <h4>{{dashboardData.OutForDeliveryBagsCount}}</h4>
                                   </div>
                        <img src="./assets/images/out-of-del.png">
                    </div>
                </div>
                

         </div>
       
        <div class="py-4" id="chart" style="width: 100%;text-align:center" >
                <canvas baseChart width="80" height="100"
                [datasets]="barChartDatasets"
                [chartType]="barChartType"
                [colors]="barChartColors"
                [options]="barChartOptions"
                (chartHover)="barChartHovered($event)"
                (chartClick)="barChartClicked($event)"
                [labels]="barChartLabels"
                >
              </canvas>
        </div>
 </div>
</div>
     