<div   class="sidebar">
   <div class="user-container w-75 m-auto text-center py-3">
           <div>
        <img class="side-logo mb-4" src="./assets/images/logo.png">

     </div>  
     <div>
        <img class="user-img mb-4" src="./assets/images/user.png">
    </div>
     
    <h5>Mohamed Ahmed</h5>
    <div class="border-btm"></div>


   </div>
        
<ul class="list-unstyled ">
   
        <li (click)="toggleNavbar()" routerLink="/layout/dashboard" routerLinkActive="active">
         <!-- <img class="mr-4" src="./assets/images/home.svg"> -->
         <i class="fa fa-home mr-4"></i><a>Home</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/hotels" routerLinkActive="active"><a ><img class="mr-4" src="./assets/images/hotel.svg">Hotels</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/flights" routerLinkActive="active"><a><img class="mr-4" src="./assets/images/flight-takeoff.svg">Flights</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/users" routerLinkActive="active"><a><img class="mr-4" src="./assets/images/AI_user.svg">Users</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/groups" routerLinkActive="active"><a ><img class="mr-4" src="./assets/images/group-of-men.svg">Groups</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/bags" routerLinkActive="active"><a ><img class="mr-4" src="./assets/images/briefcase.svg">Bags</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/vendors" routerLinkActive="active"><a ><img class="mr-4" src="./assets/images/van.svg">Vendors</a></li>
        <!-- <li><a href="#"><img class="mr-4" src="./assets/images/aeroplane.png">Group Icons</a></li> -->
        <li (click)="logout()"><button  class="btn btn-dark px-4 py-1 logout-btn"><img class="mr-2" src="./assets/images/logout.svg">Log Out</button></li>

</ul>
</div>


