<div   class="sidebar">
   <div class="user-container w-75 m-auto text-center py-3">
           <div>
        <img class="side-logo mb-4" src="./assets/images/logo.png">

     </div>  
     <div>
        <img class="user-img mb-4" src="./assets/images/user.png">
    </div>
     
    <h5>Mohamed Ahmed</h5>
    <div class="border-btm"></div>


   </div>
        
<ul class="list-unstyled ">
        <li (click)="toggleNavbar()" routerLink="/layout/dashboard" routerLinkActive="active"><img class="mr-4" src="./assets/images/home@2x.png"><a>Home</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/hotels" routerLinkActive="active"><a ><img class="mr-4" src="./assets/images/hotel@2x.png">Hotels</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/flights" routerLinkActive="active"><a><img class="mr-4" src="./assets/images/aeroplane.png">Flights</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/users" routerLinkActive="active"><a><img class="mr-4" src="./assets/images/AI_user@2x.png">Users</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/groups" routerLinkActive="active"><a ><img class="mr-4" src="./assets/images/group-of-men@2x.png">Groups</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/bags" routerLinkActive="active"><a ><img class="mr-4" src="./assets/images/briefcase@2x.png">Bags</a></li>
        <li (click)="toggleNavbar()" routerLink="/layout/vendors" routerLinkActive="active"><a ><img class="mr-4" src="./assets/images/van@2x.png">Vendors</a></li>
        <!-- <li><a href="#"><img class="mr-4" src="./assets/images/aeroplane.png">Group Icons</a></li> -->
        <li (click)="logout()"><button  class="btn btn-dark px-4 py-1 logout-btn"><img class="mr-2" src="./assets/images/logout@3x.png">Logout</button></li>

</ul>
</div>


